<%- include("partials/header.ejs") %>

<body>
  <% if (typeof index !== 'undefined') { %>
    <h1>Edit Post</h1>
  <% } else { %>
    <h1>Message Form</h1>
  <% } %>
  <% if (locals.post && locals.post.length > 0) { %>
    <form action="/editPost/<%= index %>" method="Post">
      <!-- Subject Input -->
      <textarea id="subject" name="subject" rows="4" cols="50" placeholder="Enter your topic here..." required><%= post.subject %></textarea><br><br>
      <!-- Message Input -->
      <textarea id="message" name="message" rows="20" cols="50" placeholder="Enter your message here..." required><%= post.message %></textarea><br><br>
      <!-- Submit Button -->
      <input type="submit" value="Save Changes">
    </form>
  <% } else { %>
    
  <form action="<%= typeof index !== 'undefined' ? '/editPost/' + index : '/blog' %>" method="Post">
    <!-- Subject Input -->
    <textarea id="subject" name="subject" rows="4" cols="50" placeholder="Enter your topic here..."
      required><%= typeof post !== 'undefined' ? post.subject : '' %></textarea><br><br>
    <!-- Message Input -->
    <textarea id="message" name="message" rows="20" cols="50" placeholder="Enter your message here..."
      required><%= typeof post !== 'undefined' ? post.message : '' %></textarea><br><br> <!-- Submit Button -->
    <input type="submit" value="<%= typeof index !== 'undefined' ? 'Save Changes' : 'Submit' %>">
  </form>
  <%}%>

</body>

<%- include("partials/footer.ejs") %>
