<%- include("partials/header.ejs") %>

  <h1>Welcome to the Blog website</h1>
  <form action="/submit" method="POST">
    <input type="submit" value="Post">
  </form>

  <% if (locals.blogPosts && locals.blogPosts.length> 0) { %>
    <% blogPosts.forEach((post, index)=> { %>
      <div>
        <h3>Blog Post <%= index + 1 %>:</h3>
        <p>Subject: <%= post.subject %>
        </p>
        <p>Message: <%= post.message %>
        </p>
      </div>
      <% }); %>
        <% } else { %>
          <p>No blog posts available.</p>
          <% } %>

            <%- include("partials/footer.ejs") %>